name: acr-aci-helloworld

on: 
  push:
    paths:
      - 'apps/aci-helloworld/**'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}      
    - uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_NAME }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
    - name: Build the Docker image
      env:
        ACR_NAME: ${{ secrets.ACR_NAME }}
      run: |
        ls -l
        cd apps/aci-helloworld
        ls -l
        echo "Running docker build "
        docker build . --tag $ACR_NAME/aci-helloworld:${{ github.sha }}
        echo "Tagging with latest"
        docker tag $ACR_NAME/aci-helloworld:${{ github.sha }} $ACR_NAME/aci-helloworld:latest
        echo "Pushing image"
        docker push $ACR_NAME/aci-helloworld:${{ github.sha }}
        docker push $ACR_NAME/aci-helloworld:latest
        echo "Done"
    - name: 'Deploy to Azure Container Instances'
      env:
        ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
        ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
        ACR_NAME: ${{ secrets.ACR_NAME }}
      uses: 'azure/aci-deploy@v1'
      with:
        resource-group: tutorial-rg
        dns-name-label: urlforurlforurl
        image: ${{ secrets.ACR_NAME }}/aci-helloworld:${{ github.sha }}
        registry-username: ${{ secrets.ACR_USERNAME }}
        registry-password: ${{ secrets.ACR_PASSWORD }}
        name: aci-helloworld-container
        location: 'west us'        
